#gridWrapper
  %h1.page-title CS 10, An Introduction to Computer Science

  .row
  .columns.first
    %p
      The CS 10 class is taught by Professor Iba and focuses mainly on programming assignments.  The final project consisted of
      a simulation of natural selection
      = link_to "<span>Home &raquo;</span>", "http://localhost:3000/pages/_home", :class => 'medium green button'
      = link_to "<span>My Resume &raquo;</span>", "http://localhost:3000/pages/_resume", :class => 'medium green button'

  .row
  .columns.first

    %p
      This is a snippet of Scheme code that I wrote for a test.  It calculates stock values.

    %p
      = image_tag 'scheme_screenshot.PNG'