#gridWrapper
  %h1.page-title CS 50, Milk; Morality, Information, Something that begins with "L", Knowledge

  .row
  .columns.first
    %p
      The CS 50 class is taught by Professor Kihlstrom and focuses mainly on philosophy in terms of modern computing related issues.

    %p
      = link_to "<span>Home &raquo;</span>", "http://localhost:3000/pages/_home", :class => 'medium green button'
      = link_to "<span>My Resume &raquo;</span>", "http://localhost:3000/pages/_resume", :class => 'medium green button'

  .row
  .columns.first
    %p
      This was an introductory paragraph for a CS 50 essay

    %p
      = image_tag "philosophy_paragraph.PNG"